In [ ]:
%load_ext autoreload
%autoreload 2

from exchange_data.data import OrderBookFrame
from exchange_data.data.backtest import Backtest
import pandas as pd
import numpy as np
import alog
import plotly.graph_objs as go
import plotly.express as px
import plotly as py
import plotly.offline as ofl
from plotly.offline import init_notebook_mode

init_notebook_mode(connected=True)
params = {
 'cache': False,
 'database_name': 'binance_futures',
 'depth': 32,
 'futures': False,
 'group_by': '1m',
 'interval': '3d',
 'max_volume_quantile': 0.99,
 'offset_interval': '0h',
 'plot': False,
 'round_decimals': 2,
 'sequence_length': 48,
 'symbol': 'UNFIUSDT',
 'window_size': '1h'
}

df = Backtest(**params).frame

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

2023-11-20 12:26:33 INFO  [data.backtest:21]
{'cache': False,
 'database_name': 'binance_futures',
 'depth': 32,
 'futures': False,
 'group_by': '1m',
 'interval': '3d',
 'max_volume_quantile': 0.99,
 'offset_interval': '0h',
 'plot': False,
 'round_decimals': 2,
 'sequence_length': 48,
 'symbol': 'UNFIUSDT',
 'window_size': '1h'}
2023-11-20 12:26:33 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-17 17:38:33.231105' AND time <= '2023-11-17 18:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:33 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-17 18:38:33.231105' AND time <= '2023-11-17 19:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:33 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-17 19:38:33.231105' AND time <= '2023-11-17 20:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:33 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-17 20:38:33.231105' AND time <= '2023-11-17 21:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:33 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-17 21:38:33.231105' AND time <= '2023-11-17 22:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:33 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-17 22:38:33.231105' AND time <= '2023-11-17 23:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:34 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-17 23:38:33.231105' AND time <= '2023-11-18 00:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:34 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 00:38:33.231105' AND time <= '2023-11-18 01:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:34 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 01:38:33.231105' AND time <= '2023-11-18 02:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:34 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 02:38:33.231105' AND time <= '2023-11-18 03:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:34 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 03:38:33.231105' AND time <= '2023-11-18 04:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:35 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 04:38:33.231105' AND time <= '2023-11-18 05:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:35 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 05:38:33.231105' AND time <= '2023-11-18 06:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:35 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 06:38:33.231105' AND time <= '2023-11-18 07:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:35 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 07:38:33.231105' AND time <= '2023-11-18 08:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:35 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 08:38:33.231105' AND time <= '2023-11-18 09:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:35 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 09:38:33.231105' AND time <= '2023-11-18 10:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:36 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 10:38:33.231105' AND time <= '2023-11-18 11:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:36 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 11:38:33.231105' AND time <= '2023-11-18 12:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:36 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 12:38:33.231105' AND time <= '2023-11-18 13:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:36 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 13:38:33.231105' AND time <= '2023-11-18 14:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:36 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 14:38:33.231105' AND time <= '2023-11-18 15:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:36 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 15:38:33.231105' AND time <= '2023-11-18 16:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:36 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 16:38:33.231105' AND time <= '2023-11-18 17:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:37 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 17:38:33.231105' AND time <= '2023-11-18 18:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:37 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 18:38:33.231105' AND time <= '2023-11-18 19:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:37 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 19:38:33.231105' AND time <= '2023-11-18 20:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:37 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 20:38:33.231105' AND time <= '2023-11-18 21:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:37 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 21:38:33.231105' AND time <= '2023-11-18 22:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:37 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 22:38:33.231105' AND time <= '2023-11-18 23:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:37 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-18 23:38:33.231105' AND time <= '2023-11-19 00:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:37 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 00:38:33.231105' AND time <= '2023-11-19 01:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:38 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 01:38:33.231105' AND time <= '2023-11-19 02:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:38 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 02:38:33.231105' AND time <= '2023-11-19 03:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:38 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 03:38:33.231105' AND time <= '2023-11-19 04:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:38 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 04:38:33.231105' AND time <= '2023-11-19 05:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:38 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 05:38:33.231105' AND time <= '2023-11-19 06:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:38 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 06:38:33.231105' AND time <= '2023-11-19 07:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:39 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 07:38:33.231105' AND time <= '2023-11-19 08:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:39 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 08:38:33.231105' AND time <= '2023-11-19 09:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:39 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 09:38:33.231105' AND time <= '2023-11-19 10:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:39 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 10:38:33.231105' AND time <= '2023-11-19 11:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:39 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 11:38:33.231105' AND time <= '2023-11-19 12:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:39 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 12:38:33.231105' AND time <= '2023-11-19 13:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:40 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 13:38:33.231105' AND time <= '2023-11-19 14:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:40 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 14:38:33.231105' AND time <= '2023-11-19 15:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:40 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 15:38:33.231105' AND time <= '2023-11-19 16:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:40 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 16:38:33.231105' AND time <= '2023-11-19 17:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:40 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 17:38:33.231105' AND time <= '2023-11-19 18:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:40 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 18:38:33.231105' AND time <= '2023-11-19 19:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:41 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 19:38:33.231105' AND time <= '2023-11-19 20:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:41 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 20:38:33.231105' AND time <= '2023-11-19 21:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:41 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 21:38:33.231105' AND time <= '2023-11-19 22:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:41 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 22:38:33.231105' AND time <= '2023-11-19 23:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:41 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-19 23:38:33.231105' AND time <= '2023-11-20 00:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:41 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 00:38:33.231105' AND time <= '2023-11-20 01:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:41 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 01:38:33.231105' AND time <= '2023-11-20 02:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:42 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 02:38:33.231105' AND time <= '2023-11-20 03:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:42 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 03:38:33.231105' AND time <= '2023-11-20 04:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:42 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 04:38:33.231105' AND time <= '2023-11-20 05:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:42 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 05:38:33.231105' AND time <= '2023-11-20 06:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:42 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 06:38:33.231105' AND time <= '2023-11-20 07:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:42 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 07:38:33.231105' AND time <= '2023-11-20 08:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:43 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 08:38:33.231105' AND time <= '2023-11-20 09:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:43 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 09:38:33.231105' AND time <= '2023-11-20 10:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:43 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 10:38:33.231105' AND time <= '2023-11-20 11:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:43 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 11:38:33.231105' AND time <= '2023-11-20 12:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:43 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 12:38:33.231105' AND time <= '2023-11-20 13:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:43 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 13:38:33.231105' AND time <= '2023-11-20 14:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:44 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 14:38:33.231105' AND time <= '2023-11-20 15:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:44 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 15:38:33.231105' AND time <= '2023-11-20 16:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:44 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 16:38:33.231105' AND time <= '2023-11-20 17:38:33.231105' GROUP BY time(1m);
2023-11-20 12:26:44 DEBUG [exchange_data._database:64] SELECT last(*) AS data FROM UNFIUSDT_OrderBookFrame WHERE time >= '2023-11-20 17:38:33.231105' AND time <= '2023-11-20 18:38:33.231105' GROUP BY time(1m);

In [ ]:
df=df.loc[:, df.columns!='orderbook_img']
df

In [ ]:
capital = 1
df['capital'] = 0
df_len = df.shape[0]
capital_ls = []
price_in = None

for ix in range(0, df_len):
    if ix < df_len - 1:
        row = df.iloc[ix]
        next_row = df.iloc[ix + 1]
        best_ask = row['best_ask']
        
        if row['prediction'] == 1:
            if price_in == None:
                price_in = row['best_bid']
        else:
            if price_in:
                pnl = (best_ask - price_in) / price_in
                capital = capital + (capital * pnl)
                
            price_in = None
            
    #alog.info(capital)
    capital_ls.append(capital)

df['capital'] = np.asarray(capital_ls)

df

In [ ]:
px.line(df, y='capital')