In [1]:
%load_ext autoreload
%autoreload 2
from exchange_data.data import OrderBookFrame
from exchange_data.data.backtest import Backtest
import pandas as pd
import numpy as np
import alog
import plotly.graph_objs as go
import plotly.express as px
import plotly as py
import plotly.offline as ofl
from plotly.offline import init_notebook_mode

init_notebook_mode(connected=True)
params = {
 'cache': True,
 'database_name': 'binance_futures',
 'depth': 196,
 'futures': False,
 'group_by': '15m',
 'interval': '14d',
 'max_volume_quantile': 0.99,
 'offset_interval': '0h',
 'plot': False,
 'round_decimals': 3,
 'sequence_length': 48,
 'symbol': 'UNFIUSDT',
 'window_size': '15m'
}

df = Backtest(**params).frame

2023-11-12 14:07:18 INFO  [exchange_data.settings:17] ## db conn http://admin:jade121415@influxdb:28736/ ##
2023-11-12 14:07:21.935579: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-11-12 14:07:22.913161: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

2023-11-12 14:07:24 INFO  [data.backtest:21]
{'cache': True,
 'database_name': 'binance_futures',
 'depth': 196,
 'futures': False,
 'group_by': '15m',
 'interval': '14d',
 'max_volume_quantile': 0.99,
 'offset_interval': '0h',
 'plot': False,
 'round_decimals': 3,
 'sequence_length': 48,
 'symbol': 'UNFIUSDT',
 'window_size': '15m'}
/home/joliveros/.pyenv/versions/3.8.10/envs/exchange-data/lib/python3.8/site-packages/transformers/models/vit/feature_extraction_vit.py:28: FutureWarning:

The class ViTFeatureExtractor is deprecated and will be removed in version 5 of Transformers. Please use ViTImageProcessor instead.

2023-11-12 14:07:24 INFO  [data.backtest:38] /home/joliveros/codequants/exchange-data/vit_output/pretrained

In [2]:
df=df.loc[:, df.columns!='orderbook_img']
df

                           best_ask  best_bid  prediction
time
2023-10-29 04:30:00+00:00  9.148438  9.148438           1
2023-10-29 04:45:00+00:00  9.179688  9.171875           1
2023-10-29 05:00:00+00:00  9.265625  9.265625           1
2023-10-29 05:15:00+00:00  9.250000  9.250000           1
2023-10-29 05:30:00+00:00  9.289062  9.281250           1
...                             ...       ...         ...
2023-11-12 03:45:00+00:00  9.109375  9.109375           0
2023-11-12 04:00:00+00:00  9.125000  9.117188           0
2023-11-12 04:15:00+00:00  9.046875  9.046875           0
2023-11-12 04:30:00+00:00  9.023438  9.023438           0
2023-11-12 04:45:00+00:00  9.023438  9.023438           0

[1346 rows x 3 columns]

In [17]:
capital = 1
df['capital'] = 0
df_len = df.shape[0]
capital_ls = []
price_in = None

for ix in range(0, df_len):
    if ix < df_len - 1:
        row = df.iloc[ix]
        next_row = df.iloc[ix + 1]
        best_ask = row['best_ask']
        
        if row['prediction'] == 1:
            if price_in == None:
                price_in = row['best_bid']
        else:
            if price_in:
                pnl = (best_ask - price_in) / price_in
                capital = capital + (capital * pnl)
                
            price_in = None
            
    #alog.info(capital)
    capital_ls.append(capital)

df['capital'] = np.asarray(capital_ls)

df

                           best_ask  best_bid  prediction   capital
time
2023-10-29 04:30:00+00:00  9.148438  9.148438           1  1.000000
2023-10-29 04:45:00+00:00  9.179688  9.171875           1  1.000000
2023-10-29 05:00:00+00:00  9.265625  9.265625           1  1.000000
2023-10-29 05:15:00+00:00  9.250000  9.250000           1  1.000000
2023-10-29 05:30:00+00:00  9.289062  9.281250           1  1.000000
...                             ...       ...         ...       ...
2023-11-12 03:45:00+00:00  9.109375  9.109375           0  1.074786
2023-11-12 04:00:00+00:00  9.125000  9.117188           0  1.074786
2023-11-12 04:15:00+00:00  9.046875  9.046875           0  1.074786
2023-11-12 04:30:00+00:00  9.023438  9.023438           0  1.074786
2023-11-12 04:45:00+00:00  9.023438  9.023438           0  1.074786

[1346 rows x 4 columns]

In [ ]:
px